# =========================
# IDE
# =========================

.vscode/
.idea/
*.iml

# =========================
# Node
# =========================

node_modules/

# =========================
# Build output
# =========================

main.js
*.map

dist/
build/
coverage/

# =========================
# Runtime files
# =========================

data.json

logs/
*.log
work/
.obsidian/plugins/ptune-task/work/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# Dev temp
# =========================

.tmp
.temp
.cache

# =========================
# Environment
# =========================

.env
.env.*
